@import url(https://db.onlinewebfonts.com/c/4944f4308352f169f622b1f098fa2203?family=Formula1+Display+Wide);
@font-face {
    font-family: "Formula1 Display Wide";
    src: url("https://db.onlinewebfonts.com/t/4944f4308352f169f622b1f098fa2203.eot");
    src: url("https://db.onlinewebfonts.com/t/4944f4308352f169f622b1f098fa2203.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4944f4308352f169f622b1f098fa2203.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4944f4308352f169f622b1f098fa2203.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4944f4308352f169f622b1f098fa2203.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4944f4308352f169f622b1f098fa2203.svg#Formula1 Display Wide")format("svg");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 175vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
header {
    background-image: linear-gradient(to right, #ff0000, #000000);
    height: 100px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    position: relative;
    top: 20px;
    font-size: 30px;
    font-family: "Formula1 Display Wide";
    color: rgb(255, 255, 255);
}
h2 {
    position: relative;
    top: 20px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}
p {
    position: relative;
    top: 20px;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}
.button {
    margin: 5px;
    position: relative;
    top: 25px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    border-radius: 4px;
    padding: 15px 15px;
    text-decoration: none;
    border: 1px solid rgb(112, 49, 49);
    cursor: pointer;
}
.button:hover {
    background-color: #cc0000;
}
.container {
    text-align: center;
}
.container1 {
    position: relative;
    top: 20px;
    width: 100%;
    height: 100%;
    flex: 3;
}
.container1 iframe,
.container2 iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    max-width: 800px;
    max-height: 800px;
}
.container2 {
    top: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    flex: 3;
}
@media (max-width: 1200px) {
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 28px;
    }
    p {
        font-size: 20px;
    }
    header {
        height: 90px;
    }
    .container1 iframe,
    .container2 iframe {
        width: 90%;
        height: 90%;
        max-height: 600px;
    }
    footer {
        height: 50px;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
    header {
        height: 80px;
    }
    h2 {
        font-size: 25px;
    }
    p {
        font-size: 18px;
    }
    .container1 iframe,
    .container2 iframe {
        width: 85%;
        height: 85%;
        max-height: 600px;
    }
    footer {
        height: 30px;
    }
    .footertext {
        font-size: 9px;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 17px;
    }
    header {
        height: 70px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    .container1 iframe,
    .container2 iframe {
        width: 80%;
        height: 80%;
        max-height: 550px;
    }
    footer {
        height: 35px;
    }
    .footertext {
        font-size: 10px;
    }
}
@media (max-width: 360px) {
    h1 {
        font-size: 15px;
    }
    header {
        height: 60px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    .container1 iframe,
    .container2 iframe {
        width: 75%;
        height: 75%;
        max-height: 500px;
    }
    footer {
        height: 30px;
    }
    .footertext {
        font-size: 10px;
    }
}
@media (max-width: 280px) {
    h1 {
        font-size: 13px;
    }
    header {
        height: 70px;
    }
    h2 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
    .container1 iframe,
    .container2 iframe {
        width: 70%;
        height: 70%;
        max-height: 450px;
    }
    footer {
        height: 20px;
    }
    .footertext {
        font-size: 2px;
    }
}
@media (max-width: 144px) {
    h1 {
        font-size: 9px;
    }
    header {
        height: 40px;
    }
    h2 {
        font-size: 15px;
    }
    p {
        font-size: 12px;
    }
    .container1 iframe,
    .container2 iframe {
        width: 60%;
        height: 60%;
    }
    footer {
        height: 25px;
    }
    .footertext {
        font-size: 6px;
    }
}
footer {
    background-image: linear-gradient(to right, #ff0000, #000000);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.footertext {
    top: 0; 
    font-size: 13px; 
    text-align: center;
    color: white;
    font-family: "Formula1 Display Wide";
}
